<h1>
  <i class="bi" [class.bi-star]="!meuFavorito" [class.bi-star-fill]="meuFavorito" (click)="onClick()">
  </i>
</h1>
<h1>
  <i class="bi" [ngClass]="{
  'bi-star': !meuFavorito,
  'bi-star-fill': meuFavorito
  }" (click)="onClick()">
  </i>
</h1>

<h3>*ngIf</h3>
<ul>
  <li *ngFor="let curso of cursos, let i = index">
    {{i}} - {{curso}}

  </li>
</ul>
<div *ngIf="cursos.length > 0">
  Lista de cursos
</div>

<div *ngIf="cursos.length == 0">
  Não existem cursos.
</div>
<br>
<button (click)="onMostrarCursos()">Mostrar ou Esconder Cursos</button>
